!!!
%html
    %head
        %link{:type => "stylesheet"}
        Title
    %body
        .pageWrap
            .header
                .logo
                .siteTitle
                .nav
            .content
                %h1.pageTitle
                .articles
                    %article.post.status
                        %h1.postTitle
                        %ul.tags
                            %li.tag
                                %a.tagLink
                    %article.post.blog
                        %h1.postTitle
                        %ul.tags
                            %li.tag
                                %a.tagLink
                    %article.post.page
                        %h1.postTitle
                        %ul.tags
                            %li.tag
                                %a.tagLink
                    %article.post.photo
                        %figure
                            %img
                            %figcaption
                        %ul.tags
                            %li.tag
                                %a.tagLink
                    %article.post.link
                        %h1.postTitle
                            %a
                        .description
                        %ul.tags
                            %li.tag
                                %a.tagLink
                    %article.post.location
                        %h1.postTitle
                        .map
                        %ul.tags
                            %li.tag
                                %a.tagLink
                    %article.post.audio
                        %h1.postTitle
                        ∞audio
                        .caption
                        %ul.tags
                            %li.tag
                                %a.tagLink
                    %article.post.event
                        %h1.postTitle
                        .eventContent
                        %ul.tags
                            %li.tag
                                %a.tagLink
            .footer
                .nav
                .about
                .search
