!!!
%html
    %head
        %link{:type => "stylesheet"}
        %title
            (site title) - (page title)
    %body
        .pageWrap
            .header
                .logo
                    %img
                %h1.siteTitle
                    (site title)
                .nav
                    %ul
                        %li
                            %a{:href=>"(page link)"}
                                (Page name)
            .content
                %h1.pageTitle
                    (page title)
                .articles
                    %article.post.status
                        %h1.postTitle
                            (status update)
                        .postMeta
                            %ul.tags
                                %li.tag
                                    %a.tagLink
                                        (tag name)
                    %article.post.blog
                        %h1.postTitle
                            (blog title)
                        .content
                            (blog content)
                        %ul.tags
                            %li.tag
                                %a.tagLink
                                    (tag name)
                    %article.post.page
                        %h1.postTitle
                            (page title)
                        %ul.tags
                            %li.tag
                                %a.tagLink
                                    (tag name)
                    %article.post.photo
                        %figure
                            %img
                            %figcaption
                                (image caption)
                        %ul.tags
                            %li.tag
                                %a.tagLink
                                    (tag name)
                    %article.post.link
                        %h1.postTitle
                            %a
                                (link title)
                        .description
                        %ul.tags
                            %li.tag
                                %a.tagLink
                                    (tag name)
                    %article.post.location
                        %h1.postTitle
                            (location title)
                        .map
                        %ul.tags
                            %li.tag
                                %a.tagLink
                                    (tag name)
                    %article.post.audio
                        %h1.postTitle
                        %audio
                        .caption
                            (audio caption)
                        %ul.tags
                            %li.tag
                                %a.tagLink
                                    (tag name)
                    %article.post.event
                        %h1.postTitle
                            (event title)
                        .eventContent
                            (event description)
                        %ul.tags
                            %li.tag
                                %a.tagLink
                                    (tag name)
            .footer
                .nav
                .about
                .search
